@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

@font-face {
  font-family: FSB;
  src: url("/fonts/fontSB.woff2");
}

@font-face {
  font-family: CFF;
  src: url("/fonts/CFF.woff2");
}

.FSB {
  font-family: FSB;
}
.CFF {
  font-family: CFF;
}

.svg {
  width: 100%;
  height: 100%;
  mask-image: url("/data/MaskSvg.svg");
  mask-size: 30%;
  mask-repeat: no-repeat;
  mask-position: 20% 70%;
}

.img {
  width: 100%;
  height: 100%;
  background-image: url("/Img/BgForest.jpg");
  background-size: cover;
  background-position: center;
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

.BG_R {
  background-image: url("/Img/Residence/ResidenceBG.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.BG_Form {
  background-image: url("/Img/Form/FormBG.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.Crafted_BG{
  background-image: url("/Img/Crafted/CraftedBG.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}
