@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
   
}

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: FSB;
  src: url("/fonts/fontSB.woff2");
}

@font-face {
  font-family: CFF;
  src: url("/fonts/CFF.woff2");
}

@font-face {
  font-family: VText;
  src: url("/fonts/VOSTELA.woff2");
}

.FSB {
  font-family: FSB;
}
.CFF {
  font-family: CFF;
}
.VText{
  font-family: VText;
}

.svg {
  width: 100%;
  height: 100%;
  mask-image: url("/data/MaskSvg.svg");
  mask-size: 30%;
  mask-repeat: no-repeat;
  mask-position: 20% 70%;
}

.img {
  background-size: cover;
  background-position: center;/* opacity control */
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark level */
  z-index: 0; /* overlay को नीचे रखो */
}

.img > * {
  position: relative;
  z-index: 1; /* content को ऊपर लाओ */
}


.scroll-container {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}





/* // ------------------------------------------------------------------- */

.TextWhite{
  color: #ffffff;
}

.TextBlack{
  color: #171717;
}


.T_Size{
  font-size: 5rem;
}



.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
