@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: FSB;
  src: url("/fonts/fontSB.woff2");
}

@font-face {
  font-family: CFF;
  src: url("/fonts/CFF.woff2");
}

@font-face {
  font-family: VText;
  src: url("/fonts/VOSTELA.woff2");
}

@font-face {
  font-family: STF;
  src: url("/fonts/subText.woff2");
}

.STF {
  font-family: STF;
}

.FSB {
  font-family: FSB;
}
.CFF {
  font-family: CFF;
}
.VText {
  font-family: VText;
}

.svg {
  width: 100%;
  height: 100%;
  mask-image: url("/data/MaskSvg.svg");
  mask-size: 30%;
  mask-repeat: no-repeat;
  mask-position: 20% 70%;
}

.img {
  background-size: cover;
  background-position: center; /* opacity control */
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark level */
  z-index: 0; /* overlay को नीचे रखो */
}

.img > * {
  position: relative;
  z-index: 1; /* content को ऊपर लाओ */
}

.scroll-container {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
}

/* // ------------------------------------------------------------------- */

.TextWhite {
  color: #ffffff;
}

.TextBlack {
  color: #171717;
}

.T_Size {
  font-size: 5rem;
}

.hotspot-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9c6b25;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255);
  font-size: 9px;
  line-height: 9px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  text-align: center;
}

.hotspot-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: 1;
}

.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #9c6b25;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
